<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-{{typeButton}}">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
	</div>
	<div class="col-1"></div>
</div>
