{% extends 'base.html.twig' %}

{% block title %}Editar proveedor{% endblock %}

{% block body %}
    <h1>Editar proveedor</h1>
    <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_proveedor_index') }}">Proveedores</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Editar proveedor</li>
		</ol>
	</nav>
    {{ include('proveedor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_proveedor_index') }}">back to list</a>

    {{ include('proveedor/_delete_form.html.twig') }}
{% endblock %}
