{% extends 'base.html.twig' %}

{% block title %}Proveedor
{% endblock %}

{% block body %}
	<h1>Proveedor</h1>
	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_proveedor_index') }}">Proveedores</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">mostrar proveedor</li>
		</ol>
	</nav>
	<table class="table">
		<tbody>
			<tr>
				<th>Código proveedor</th>
				<td>{{ proveedor.codproveedor }}</td>
			</tr>
			<tr>
				<th>Razón social</th>
				<td>{{ proveedor.razonsocial }}</td>
			</tr>
			<tr>
				<th>Nif</th>
				<td>{{ proveedor.nif }}</td>
			</tr>
			<tr>
				<th>Domicilio</th>
				<td>{{ proveedor.domicilio }}</td>
			</tr>
			<tr>
				<th>Código postal</th>
				<td>{{ proveedor.codpostal }}</td>
			</tr>
			<tr>
				<th>Población</th>
				<td>{{ proveedor.poblacion }}</td>
			</tr>
			<tr>
				<th>Provincia</th>
				<td>{{ proveedor.provincia }}</td>
			</tr>
			<tr>
				<th>E-mail</th>
				<td>{{ proveedor.email }}</td>
			</tr>
			<tr>
				<th>Enlace web</th>
				<td>{{ proveedor.www }}</td>
			</tr>
			<tr>
				<th>Teléfono 1</th>
				<td>{{ proveedor.tfno1 }}</td>
			</tr>
			<tr>
				<th>Teléfono 2</th>
				<td>{{ proveedor.tfno2 }}</td>
			</tr>
			<tr>
				<th>Fax</th>
				<td>{{ proveedor.fax }}</td>
			</tr>
			<tr>
				<th>Móvil</th>
				<td>{{ proveedor.movil }}</td>
			</tr>
			<tr>
				<th>Cuenta</th>
				<td>{{ proveedor.cuenta }}</td>
			</tr>
			<tr>
				<th>Cuenta de pago</th>
				<td>{{ proveedor.cuentapago }}</td>
			</tr>
			<tr>
				<th>Ivapercent</th>
				<td>{{ proveedor.ivapercent }}</td>
			</tr>
			<tr>
				<th>Ab</th>
				<td>{{ proveedor.ab }}</td>
			</tr>
			<tr>
				<th>CodpaisOficial</th>
				<td>{{ proveedor.codpaisOficial }}</td>
			</tr>
			<tr>
				<th>Nifpaisresidencia</th>
				<td>{{ proveedor.nifpaisresidencia }}</td>
			</tr>
			<tr>
				<th>Clave id en país de residencia</th>
				<td>{{ proveedor.claveidenpaisresidencia }}</td>
			</tr>
			<tr>
				<th>ContabIntracom</th>
				<td>{{ proveedor.contabIntracom }}</td>
			</tr>
			<tr>
				<th>Tiene re</th>
				<td>{{ proveedor.tieneRe ? 'Sí' : 'No' }}</td>
			</tr>
			<tr>
				<th>Esinversionsujetopasivo</th>
				<td>{{ proveedor.esinversionsujetopasivo }}</td>
			</tr>
			<tr>
				<th>País</th>
				<td>{{ proveedor.pais }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_proveedor_index') }}">Volver a la lista</a>

	<a href="{{ path('app_proveedor_edit', {'codproveedor': proveedor.codproveedor}) }}">Editar</a>

	{{ include('proveedor/_delete_form.html.twig') }}
{% endblock %}
