<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="d-flex justify-content-center">
			<a href="{{ path('app_subfamilia_index') }}" class="btn btn-secondary me-1">Volver a la lista</a>
			<button class="btn btn-{{typeButton}}">{{ button_label|default('Guardar') }}</button>
		</div>
		{{ form_end(form) }}
	</div>
	<div class="col-1"></div>
</div>
