{% extends 'base.html.twig' %}

{% block title %}Subfamilia index{% endblock %}

{% block body %}
    <h1>Subfamilia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Codsubfamilia</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subfamilium in subfamilias %}
            <tr>
                <td>{{ subfamilium.codsubfamilia }}</td>
                <td>{{ subfamilium.nombre }}</td>
                <td>{{ subfamilium.imagen }}</td>
                <td>
                    <a href="{{ path('app_subfamilia_show', {'codsubfamilia': subfamilium.codsubfamilia}) }}">show</a>
                    <a href="{{ path('app_subfamilia_edit', {'codsubfamilia': subfamilium.codsubfamilia}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subfamilia_new') }}">Create new</a>
{% endblock %}
