{% extends 'base.html.twig' %}

{% block title %}Búsqueda subfamilia con nombre {{textoBuscado}}
{% endblock %}

{% block body %}
	<h1>Búsqueda de subfamilia</h1>
	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_subfamilia_index') }}">Subfamilias</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Buscar subfamilia</li>
		</ol>
	</nav>
	<h3>Resultados de búsqueda de subfamilia por nombre 
		{{textoBuscado}}</h3>
	<div class="d-inline justify-content-center align-content-center">
		{{form_start(formBusqueda)}}
		<div class="row">
			<div class="col-9">
				{{ form_widget(formBusqueda) }}
			</div>
			<div class="col-3">
				<button type="submit" class="d-inline btn btn-primary" title="Buscar">
					<i class="bi bi-search mx-2"></i>
				</button>
			</div>
		</div>
		{{form_end(formBusqueda)}}
		{% if subfamilias is not empty %}
			<p class="fw-bold text-success">Total de subfamilias encontrados
				{{subfamilias|length}}</p>
			<div class="row">
				{% for subfamilia in subfamilias %}
					<div class="card col-2 gapp-1" style="">
				
						
						<div class="card-body">
							<h5 class="card-title">Código subfamilia: {{subfamilia.codsubfamilia}}
							</h5>
							<p class="card-text">Descripcion: {{subfamilia.nombre}}</p>
							<a href="{{ path('app_subfamilia_show',{'codsubfamilia': subfamilia.codsubfamilia}) }}" class="btn btn-primary">Ver página subfamilia</a>
						</div>
					</div>
					<div class="col-1"></div>

				{% endfor %}
			</div>
		
		{% else %}
			<p class="fw-bold text-danger">No existen subfamilias con la descripción: {{textoBuscado}}</p>
		{% endif %}

	</div>


{% endblock %}
