{% extends 'base.html.twig' %}

{% block title %}Subfamilia
{% endblock %}

{% block body %}
	<h1>Subfamilia</h1>
	 <nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_subfamilia_index') }}">Subfamilias</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Enseñar subfamilia</li>
		</ol>
	</nav>
	<div class="d-flex justify-content-end">

		<a href="{{ path('app_subfamilia_edit', {'codsubfamilia': subfamilium.codsubfamilia}) }}" class="btn btn-warning me-1">Editar</a>

		{{ include('subfamilia/_delete_form.html.twig') }}
	</div>
	<table class="table">
		<tbody>
			<tr>
				<th>Codsubfamilia</th>
				<td>{{ subfamilium.codsubfamilia }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ subfamilium.nombre }}</td>
			</tr>
			<tr>
				<th>Imagen</th>
				<td>{{ subfamilium.imagen }}</td>
			</tr>
		</tbody>
	</table>
	{% if base64Image is not null %}
		<div class="mb-3">
			<img src="data:image/png;base64,{{base64Image}}" alt="" srcset="">
		</div>

	{% endif %}
	<div class="d-flex justify-content-center">
		<a href="{{ path('app_subfamilia_index') }}" class="btn btn-secondary">Volver a la lista</a>
	</div>

{% endblock %}
