{{ form_start(form) }}
{{ form_widget(form) }}
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_familia_index') }}" class="me-1 btn btn-secondary">Volver a la lista</a>
        <button class="btn btn-{{typeButton}}">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
