{% extends 'base.html.twig' %}

{% block title %}Editar Familia
{% endblock %}

{% block body %}
	<h1>Editar familia</h1>
	
	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_familia_index') }}">Familias</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Editar Familia</li>
		</ol>
	</nav>
	

	<div class="d-flex justify-content-end">
		{{ include('familia/_delete_form.html.twig') }}
		{# <a href="{{ path('app_familia_index') }}" class="ms-1 btn btn-secondary">Volver a la lista</a> #}
	</div>
	{{ include('familia/_form.html.twig', {'button_label': 'Actualizar'}) }}


{% endblock %}
