{% extends 'base.html.twig' %}

{% block title %}Familia
{% endblock %}

{% block body %}
	{% if formBusqueda is defined %}
		{{form_start(formBusqueda)}}
		<div class="row">
			<div class="col-9">
				{{ form_widget(formBusqueda) }}
			</div>
			<div class="col-3">
				<button type="submit" class="d-inline btn btn-primary" title="Buscar">
					<i class="bi bi-search mx-2"></i>
				</button>
			</div>
		</div>
		{{form_end(formBusqueda)}}
		{% endif %}
		<h1>Familia</h1>
		<nav aria-label="breadcrumb my-3">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_inicio') }}">Inicio</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ path('app_familia_index') }}">Familias</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Mostrar Familia</li>
			</ol>
		</nav>
		<div class="text-end d-flex justify-content-end">
			<a href="{{ path('app_familia_edit', {'codfamilia': familium.codfamilia}) }}" class="btn mx-2 btn-warning">Editar</a>
			{{ include('familia/_delete_form.html.twig') }}
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Codfamilia</th>
					<td>{{ familium.codfamilia }}</td>
				</tr>
				<tr>
					<th>Nombre</th>
					<td>{{ familium.nombre }}</td>
				</tr>
				<tr>
					<th>Margen</th>
					<td>{{ familium.margen }}</td>
				</tr>
				<tr>
					<th>Ivapercent</th>
					<td>{{ familium.ivapercent }}</td>
				</tr>
				<tr>
					<th>Esmanoobra</th>
					<td>{{ familium.esmanoobra ? 'Yes' : 'No' }}</td>
				</tr>
				<tr>
					<th>Iniciocodean</th>
					<td>{{ familium.iniciocodean }}</td>
				</tr>
				<tr>
					<th>Re</th>
					<td>{{ familium.re }}</td>
				</tr>
				<tr>
					<th>Esanimales</th>
					<td>{{ familium.esanimales ? 'Yes' : 'No' }}</td>
				</tr>
				<tr>
					<th>Imagen</th>
					<td>{{ familium.imagen }}</td>
				</tr>
			</tbody>
		</table>
		{% if base64Image is not null %}
			<div class="mb-3">
				<img src="data:image/png;base64,{{base64Image}}" alt="" srcset="">
			</div>

		{% endif %}

		<div class="d-flex justify-content-center">
			<a href="{{ path('app_familia_index') }}" class="btn btn-secondary">Volver a la lista</a>
		</div>


	{% endblock %}
