{% extends 'base.html.twig' %}

{% block title %}Editar Marca
{% endblock %}

{% block body %}
	{% if formBusqueda is defined  %}

		{{form_start(formBusqueda)}}
		<div class="row">
			<div class="col-9">
				{{ form_widget(formBusqueda) }}
			</div>
			<div class="col-3">
				<button type="submit" class="d-inline btn btn-primary" title="Buscar">
					<i class="bi bi-search mx-2"></i>
				</button>
			</div>
		</div>
		{{form_end(formBusqueda)}}
	{% endif %}
	<h1>Editar Marca</h1>

	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_marca_index') }}">Marcas</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Editar marcas</li>
		</ol>
	</nav>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10 text-end">
			{{ include('marca/_delete_form.html.twig') }}
		</div>
		<div class="col-1"></div>
	</div>
	{{ include('marca/_form.html.twig', {'button_label': 'Actualizar'}) }}


{% endblock %}
