{% extends 'base.html.twig' %}

{% block title %}Búsqueda marca con descripción {{textoBuscado}}
{% endblock %}

{% block body %}
{% if formBusqueda is defined  %}

		{{form_start(formBusqueda)}}
		<div class="row">
			<div class="col-9">
				{{ form_widget(formBusqueda) }}
			</div>
			<div class="col-3">
				<button type="submit" class="d-inline btn btn-primary" title="Buscar">
					<i class="bi bi-search mx-2"></i>
				</button>
			</div>
		</div>
		{{form_end(formBusqueda)}}
	{% endif %}
	<h1>Búsqueda marcas</h1>
	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_marca_index') }}">Marcas</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Buscar marca</li>
		</ol>
	</nav>
	<h3>Resultados de búsqueda de la marca por nombre
		{{textoBuscado}}</h3>

		{% if marcas is not empty %}
			<p class="fw-bold text-success">Total de marcas encontrados
				{{marcas|length}}</p>
			<div class="row">
				{% for marca in marcas %}
					<div class="card col-2 gapp-1" style="">
				
						
						<div class="card-body">
							<h5 class="card-title">Código marca: {{marca.codmarca}}
							</h5>
							<p class="card-text">Descripcion: {{marca.nombremarca}}</p>
							<a href="{{ path('app_marca_show',{'codmarca': marca.codmarca}) }}" class="btn btn-primary">Ver página marca</a>
						</div>
					</div>
					<div class="col-1"></div>

				{% endfor %}
			</div>
			<div class="d-flex justify-content-center">
				{{ knp_pagination_render(marcas) }}
			</div>
		{% else %}
			<p class="fw-bold text-danger">No existen artículos con la descripción: {{textoBuscado}}</p>
		{% endif %}

	</div>


{% endblock %}
