{% extends 'base.html.twig' %}

{% block title %}Búsqueda origen gasto con Nombre {{textoBuscado}}
{% endblock %}

{% block body %}
	<h1>Búsqueda de origen gasto</h1>
	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_origengasto_index') }}">Origenes de gasto</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Buscar origen de gasto</li>
		</ol>
	</nav>
	<h3>Resultados de búsqueda de origen de gasto por nombre 
		{{textoBuscado}}</h3>
	<div class="d-inline justify-content-center align-content-center">
		{{form_start(formBusqueda)}}
		<div class="row">
			<div class="col-9">
				{{ form_widget(formBusqueda) }}
			</div>
			<div class="col-3">
				<button type="submit" class="d-inline btn btn-primary" title="Buscar">
					<i class="bi bi-search mx-2"></i>
				</button>
			</div>
		</div>
		{{form_end(formBusqueda)}}
		{% if origenes is not empty %}
			<p class="fw-bold text-success">Total de origen de gasto encontrados
				{{origenes|length}}</p>
			<div class="row">
				{% for origen in origenes %}
					<div class="card col-2 gapp-1" style="">
				
						
						<div class="card-body">
							<h5 class="card-title">Código origen de gasto: {{origen.codorigen}}
							</h5>
							<p class="card-text">Descripcion: {{origen.descripcion}}</p>
							<a href="{{ path('app_origengasto_show',{'codorigen': origen.codorigen}) }}" class="btn btn-primary">Ver página origen de gasto</a>
						</div>
					</div>
					<div class="col-1"></div>

				{% endfor %}
			</div>
		
		{% else %}
			<p class="fw-bold text-danger">No existen origenes de gasto con el nombre: {{textoBuscado}}</p>
		{% endif %}

	</div>


{% endblock %}
