{% extends 'base.html.twig' %}

{% block title %}Origengasto{% endblock %}

{% block body %}
    <h1>Origengasto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Codorigen</th>
                <td>{{ origengasto.codorigen }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ origengasto.descripcion }}</td>
            </tr>
            <tr>
                <th>Cuenta</th>
                <td>{{ origengasto.cuenta }}</td>
            </tr>
            <tr>
                <th>Esinmolizado</th>
                <td>{{ origengasto.esinmolizado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_origengasto_index') }}">back to list</a>

    <a href="{{ path('app_origengasto_edit', {'codorigen': origengasto.codorigen}) }}">edit</a>

    {{ include('origengasto/_delete_form.html.twig') }}
{% endblock %}
